@import "./base/theme";
@import './base/mixin';

/* 主体布局 */
.layout-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  .app-sidebar {
    width: $app_sidebar_width;
    transition: width $tarnsation_time ease;
    overflow: hidden;
    &.close {
      width: $app_sidebar_width--close;
    }
  }
  .layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    header.app-header {
      height: $layout_header;
      box-sizing: border-box;
      box-shadow: 1px 0 2px 0px rgba($color: #000000, $alpha: 0.8);
    }
    .app-main {
      flex: 1;
      background-color: $app_main_bg;
    }
  }
}

/* sidebar */
.app-sidebar {
  box-sizing: border-box;
  padding-right: 5px;
  box-shadow: -5px 0px 2px 0px #e1e1e1 inset;
  position: relative;
  background-color: $layout_header_bg;
  .check_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 5px);
    height: 36px;
    overflow: hidden;
    box-shadow: 0px -3px 5px -3px rgba($color: $layout_header_bg_hover, $alpha: 0.8);
    background-color: $layout_header_bg_hover;
    // 切换按钮
    .el-button {
      width: $app_sidebar_width--close;
      color: white;
      @include flex-center();
      &.trans .iconfont {
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }
  .image {
    height: $layout_header;
    @include flex-center();
    img{
      transition: width $tarnsation_time ease;
    }
  }
  &.close{
    padding-right: 0;
    box-shadow: none;
    .check_btn{
      width: 100%;
    }
  }
}

.app-header {
  display: flex;
  align-items: center;
}

/* 菜单栏样式调整 */
.menus-container, .el-menu--popup {
  border-right: none;
  &.el-menu--collapse{
    width: $app_sidebar_width--close;
    .el-submenu__title{
      @include flex-center();
      padding: 0 !important;
    }
    .el-menu-item{
      padding: 0 !important;
      margin-left: -9px;
      justify-content: center;
    }
  }
  .el-submenu__title,
  .el-menu-item {
    color: $layout_sidebar_text_color;
    background-color: $layout_sidebar_bg;
    display: flex;
    align-items: center;
    i {
      color: $colo-white;
    }
  }
  .el-menu-item {
    &.is-active {
      @include sidebar_item_active();
    }
    &:hover {
      @include sidebar_item_hover();
    }
  }
}

.el-menu--popup{
  border-radius: 4px;
  padding: 0;
}
