/*
  
*/
@import "./base/theme";

.layout_header {
  height: 50px;
  border-bottom: 1px solid #ff9900;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.layout-container {
  height: calc(100vh - 50px);
  overflow: hidden;
  display: flex;
}

.layout_sidebar {
  height: 100%;
  background-color: pink;
  transition: width 0.3s ease-in;
  &.close {
    width: 150px;
  }
  &.open {
    width: 200px;
  }
}
